---
---

/* SASS VARIABLES */
/* Fonts */
$font-stack: "Montserrat", "Helvetica", "Arial";
$primary: #1ec1c7;
$secondary: #4e44b0;


html {
	font-size: 13px;
}
@media screen and (min-width: 800px) { html { font-size: 15px; } }
@media screen and (min-width: 1200px) { html { font-size: 17px; } }
@media screen and (min-width: 1600px) { html { font-size: 20px; } }
@media screen and (min-width: 2000px) { html { font-size: 24px; } }
body {
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 0px;
	background-size: cover;
	background-color: #fff;
	color: black;
	margin: 0;
	padding: 0;
	width: auto;
    overflow-x: hidden; // hide horizontal scroll

	transition: 0.5s;
	transition-property: background-color, color;
}
body.dark, body.dark .content, body.dark .footer {
	background-color: #222;
	color: #eee;
	transition: 0.5s;
	transition-property: background-color, color;
}
body.dark .footer { background-color: #282828; }

@media only screen and (max-width: 1920px) {
	body {
		background-image: url("../img/bg-med.png");
	}
}
@media only screen and (max-width: 640px) { // mobile
	body {
		background-image: url("../img/bg-tall.png");
	}
	.section { padding-left: 2vw !important; padding-right: 2vw !important; }
	.logo {
		max-width: 24vh !important;
	}
	#loader { width: 40% !important }
	nav a { display: none !important }
	nav .menu { display: inline-block !important }
	.content { background-size: contain !important; }
}






h1 {
	font: {
		family: $font-stack;
		size: 4em;
		weight: 500;
	}
	text-align: center;
}

h2 {
	font: {
		family: $font-stack;
		size: 3em;
		weight: 300;
	}
	text-align: center;
}

h3 {
	font: {
		family: $font-stack;
		size: 2.5em;
		weight: 300;
	}
}

h4 {
	font: {
		family: $font-stack;
		size: 2em;
		weight: 300;
	}
}

p {
	font: {
		family: $font-stack;
		size: 1.5em;
	}
}

p2 {
	font: {
		family: $font-stack;
		size: 1.3em;
	}
}

p3 {
	font: {
		family: $font-stack;
		size: 1.1em;
	}
}





.hero {
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color:white !important;
}

.logo {
	display: block;
	width: auto;
	max-width: 30vh;
	height: auto;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	&:hover {
		-webkit-box-shadow: 0 6px 18px 0 rgba(0,0,0,0.4);
		box-shadow: 0 6px 18px 0 rgba(0,0,0,0.4);
		-webkit-transform: scale(1.02, 1.02);
		transform: scale(1.02, 1.02);
		-webkit-transition: 0.5s;
		transition: 0.5s;
		border-radius: 30%;
		-webkit-border-radius: 30%;
	}
}


.chevron-down {
	display: block;
	border-right: 0.2rem solid white;
	border-bottom: 0.2rem solid white;
	width: 1.5rem; height: 1.5rem;
	transform: rotate(45deg);
}

.section {
	width: 100%;
	padding-left: 7vw;
	padding-right: 7vw;
	margin: auto;
	margin-bottom: 3em;
}

.content {
	width: 100%;
	text-align: left;
	padding-top: 3em;
	padding-bottom: 3em;
	background: url("../img/line.png") no-repeat, #fff;
	background-size: 70%;
	background-position: left bottom;
	
	transition: background-color 0.5s;
}

.footer {
	height: auto;
	width: auto;
	background: #eee;
	padding: 3vw;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	
	transition: background-color 0.5s;
}

.centered {
	margin-left: auto !important;
	margin-right: auto !important;
}

hr.divider {
	height: 5px;
	width: 200px;
	border-radius: 2.5px;
	-webkit-border-radius: 2.5px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(90deg, $primary, $secondary);
	background-size: 200% 200%;
	
	-webkit-animation: animatedgradient 5s ease infinite;
	-moz-animation: animatedgradient 5s ease infinite;
	animation: animatedgradient 5s ease infinite;
}
body.dark .divider {
	background: #eee;
}




.cross {
	display: block;
	background: white;
	margin: 0;
	height: 30px;
	position: relative;
	width: 4px;
	transform: rotate(45deg);
}
.cross:after {
	background: white;
	content: "";
	height: 4px;
	left: -13px;
	position: absolute;
	top: 13px;
	width: 30px;
}


.blink {
	-webkit-animation: blink 2s linear infinite;
	-moz-animation: blink 2s linear infinite;
	animation: blink 2s linear infinite;
}
@keyframes blink {
	0% {opacity: 0.2;}
	10% {opacity: 0.9;}
	100% {opacity: 0.2;}
}
@-webkit-keyframes blink {
	0% {opacity: 0.2;}
	10% {opacity: 0.9;}
	100% {opacity: 0.2;}
}
@-moz-keyframes blink {
	0% {opacity: 0.2;}
	10% {opacity: 0.9;}
	100% {opacity: 0.2;}
}


.blinktext {
	-webkit-animation: blinktext 2s linear infinite;
	-moz-animation: blinktext 2s linear infinite;
	animation: blinktext 2s linear infinite;
}
@keyframes blinktext {
	0% {color: rgba(255,255,255,0.2) !important;}
	10% {color: rgba(255,255,255,0.9) !important;}
	100% {color: rgba(255,255,255,0.2) !important;}
}
@-webkit-keyframes blinktext {
	0% {color: rgba(255,255,255,0.2) !important;}
	10% {color: rgba(255,255,255,0.9) !important;}
	100% {color: rgba(255,255,255,0.2) !important;}
}
@-moz-keyframes blinktext {
	0% {color: rgba(255,255,255,0.2) !important;}
	10% {color: rgba(255,255,255,0.9) !important;}
	100% {color: rgba(255,255,255,0.2) !important;}
}





/* target nav bar */
nav {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: auto;
	text-align: center;
	background: rgba(0, 0, 0, 0.35);


	/* target tab */
	a {
		display: inline-block;
		min-height: 2em;
		color: white;
		background: rgba(255,255,255,0);
		font-family: $font-stack;
		font-size: 1.5rem;
		padding: 5px 15px;
		text-decoration: none;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		&:hover {
			background: rgba(255,255,255,0.2);
			color: white;
			text-decoration: none;
			-webkit-transition: 0.5s;
			transition: 0.5s;
		}

		&#donate { /*donate button*/
			float: right;
			i { /*fontawesome icon*/
				opacity: 0.5;
				transition: 0.5s opacity;
			}
			.text { /*donate button text hidden until hover*/
				/*spans won't transform unless they're turned into a block*/
				display: inline-block;
				width: 0;
				transform: scaleX(0);
				transition: 0.5s;
				transition-property: transform, width;
			}
			&:hover {
				i {
					opacity: 1;
					transition: 0.5s opacity;
				}
				.text {
					width: 3.5em;
					transform: scaleX(1);
					transition: 0.5s;
					transition-property: transform, width;
				}
			}
		}
	}

	/* target nav logo */
	#navlogo {
		color: white !important;
		font-family: "Montserrat Medium", $font-stack;
		font-size: 1.5rem;
		svg {
			fill: white;
			height: 1.5em;
			width: auto;
		}
	}

	/* menu button for mobile */
	.menu {
		height: auto;
		max-height: 3em;
		width: 100%;
		background: rgba(255,255,255,0);
		font-size: 3rem;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
}
/* the fixed nav bar for when the user scrolls */
nav.scrolled {
	position: fixed;
	background: linear-gradient(120deg, $primary, $secondary);
	background-size: 200% 200%;
	transform: translateY(-100%);
	
	-webkit-animation: animatedgradient 10s ease infinite;
	-moz-animation: animatedgradient 10s ease infinite;
	animation: animatedgradient 10s ease infinite;
}
nav.sleep {	transition: transform 0.5s; }
nav.awake {
	transform: translateY(0);
	transition: transform 0.5s;
}



#menu-bg {
	pointer-events: auto;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	/* target mobile menu */
	#menu {
		position: absolute;
		width: 80%;
		height: auto;

		/* target tab */
		a {
			display: block;
			min-height: 2em;
			background: transparent;
			color: white !important;
			font-family: $font-stack;
			font-size: 1.5rem;
			padding: 5px;
			text-decoration: none !important;
			-webkit-transition: 0.5s;
			transition: 0.5s;
		}

		/* target menu logo */
		#navlogo {
			color: white !important;
			font-family: "Montserrat Medium", $font-stack;
			font-size: 1.5rem;
			svg {
				fill: white;
				height: 1.5em;
				width: auto;
			}
		}
	}
}





.scrollup {
	position: fixed;
	display: none;
	bottom: 5%;
	right: 5%;
	border-radius: 0.5em;
	padding: 0.5em 0.6em;
	z-index: 999;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3);
	transition: background 0.5s;
}
.scrollup:hover {
	background: rgba(0, 0, 0, 0.5);
	transition: background 0.5s;
}




/* progress bar background */
.progress {
	height: 2em;
	border-radius: 999px
}
body.dark .progress {
	background: #444;
}
/* progress bar filled part */
.progress-bar {
	height: 2em;
	border-radius: 999px;
	background: linear-gradient(120deg, $primary, $secondary);
	background-size: 200% 200%;
	
	-webkit-animation: animatedgradient 5s ease infinite;
	-moz-animation: animatedgradient 5s ease infinite;
	animation: animatedgradient 5s ease infinite;

	/* progress bar filled part text */
	span {
		font-family: $font-stack;
		font-size: 1.4rem;
	}
}
.p-bars .col-md-6 p {
	margin-bottom: 0;
}





/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 999px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    border-radius: 999px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background: linear-gradient(120deg, $primary, $secondary);
	background-size: 200% 200%;
	-webkit-animation: animatedgradient 5s ease infinite;
	-moz-animation: animatedgradient 5s ease infinite;
	animation: animatedgradient 5s ease infinite;
}
input:hover + .slider {
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}






.modal {
	display: none;
	position: fixed;
	font-size: 0.75rem;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	/*pointer-events: none;*/
	background: rgba(0, 0, 0, 0.7);
}





#easteregg-content {
	color: white;
	pointer-events: auto;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 80%;
}





#port-items {
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#port-items .p-item {
	width: auto;
	height: 10em;
	margin: 1em;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	.img-container {
		img {
			max-height: 10em;
			position: relative;
		}
		.middle { display: none }
	}
	&:hover {
		-webkit-box-shadow: 0 6px 18px 0 rgba(0,0,0,0.4);
		box-shadow: 0 6px 18px 0 rgba(0,0,0,0.4);
		-webkit-border-radius: 1em;
		border-radius: 1em;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
}
#port-items .p-item .p-name, #port-items .p-item .p-desc {
	display: none;
}
#p-over {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	pointer-events: auto;
	height: 100%;
	width: 100%;
}
#p-view .p-item {
	display: flex;
	height: 100%;
	padding: 1em;
	z-index: 10000;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.img-container {
		display: inline-flex;
		position: relative;
		// for some reason this makes .middle fill container up properly
		img {
			max-height: 80vh;
			max-width: 100%;
			width: auto;
		}
		.middle { // the thingy that appears when hovering on image
			background-color: rgba(0,0,0,0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
			transition: .5s ease;
		}
		.middle:hover {
			opacity: 1;
		}
	}
	.p-name {
		position: relative;
		color: white;
		font-family:"Montserrat", "Helvetica", "Arial";
		font-size: 1.5rem;
	} .p-desc {
		position: relative;
		color: white;
		font-family:"Montserrat", "Helvetica", "Arial";
		font-size: 1.2rem;
	}
}





/* Slideshow container */
.contact-slides {
	position: relative;
}

/* Hide the images by default */
.slide {
	display: none;
	position: relative;
	text-align: center;
}
body.dark .slide i {
	color: #eee;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 25px;
	width: 45px;
	margin: 0 2px;
	background-color: #aaa;
	border-radius: 999px;
	display: inline-block;
	transition: background-color 0.3s ease;
}
body.dark .dot {
	background-color: #eee;
}

#mailh.active, #mailh:hover { background-color: #e94843; }
#discordh.active, #discordh:hover { background-color: #7289DA; }
#twitterh.active, #twitterh:hover { background-color: #1DA1F2; }
#githubh.active, #githubh:hover { background-color: #24292e; border: 2px solid #eee; }





#loader-bg {
	z-index: 99999;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	p3 {
		color: white;
		position: absolute;
		opacity: 0;
		bottom: 1em;
		/*play a fade in animation once after a delay*/
		animation: 0.5s 1 fadein;
		animation-fill-mode: forwards; // stops animation at the end
		animation-delay: 3s;
	}
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
#loader {
	z-index: 99999999999999999999999999999999999999999999999999999999;
	fill: transparent;
	width: 30vh;
	margin-bottom: -30vh; /* put this over the logo below it */
	height: auto;
	stroke: white;
	stroke-width: 10;
	stroke-dasharray: 1255;
	-webkit-animation: draw 1000ms linear infinite;
	animation: draw 1000ms linear infinite;
}
@-webkit-keyframes draw {
	from { stroke-dashoffset: 2510 }
	to { stroke-dashoffset: 0 }
}
@-moz-keyframes draw {
	from { stroke-dashoffset: 2510 }
	to { stroke-dashoffset: 0 }
}
@keyframes draw {
	from { stroke-dashoffset: 2510 }
	to { stroke-dashoffset: 0 }
}

#loader-bar {
	overflow: hidden;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	.bar {
		height: 100%;
		width: 100%;
		background-color: white;
		margin-left: -100%;
		animation: 0.75s loadingBar infinite;
	}
}
@-webkit-keyframes loadingBar {
	from { margin-left: -100%; }
	to { margin-left: 100% }
}
@-moz-keyframes loadingBar {
	from { margin-left: -100%; }
	to { margin-left: 100% }
}
@keyframes  loadingBar {
	from { margin-left: -100%; }
	to { margin-left: 100% }
}




button, a.button, input[type="button"] {
	background: #eee;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: $font-stack;
	font-size: 1.5rem;
	padding: 6px 14px;
	text-decoration: none;
	border: 0;
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
	-webkit-transition: 0.5s;
	transition: 0.5s;

	&:hover {
		background: #ccc;
		transform: scale(1.02, 1.02);
		-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
		box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
	}
	&:active {
		position: relative;
		top: 2px;
	}
}





a .social{
	text-shadow: 0px 0px 0px rgba(0,0,0,0.2);
	color: #aaaaaa;
	-webkit-transition: 0.5s;
	transition: 0.3s;
}
a .twitter:hover {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	color: #1DA1F2;
}
a .mail:hover {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	color: #e94843;
}
a .discord:hover {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	color: #7289DA;
}
a .github:hover {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	color: #24292e;
}





.box-shadow {
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}





table, th, td {
	color: black;
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
}

.hover {
	-webkit-animation: hover 4s ease-in-out infinite;
	animation: hover 4s ease-in-out infinite;
}

.text-hover {
	animation: text-hover 4s ease-in-out infinite;
}



/* ANIMATIONS */

@-webkit-keyframes animatedgradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes animatedgradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes animatedgradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}


@keyframes hover {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-8px);}
	100% {transform: translatey(0px);}
}
@-webkit-keyframes hover {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-8px);}
	100% {transform: translatey(0px);}
}
@-moz-keyframes hover {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-8px);}
	100% {transform: translatey(0px);}
}


@keyframes text-hover {
	0% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
	50% {text-shadow: 0px 25px 15px rgba(0,0,0,0.2); transform: translatey(-20px);}
	100% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
}
@-webkit-keyframes text-hover {
	0% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
	50% {text-shadow: 0px 25px 15px rgba(0,0,0,0.2); transform: translatey(-20px);}
	100% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
}
@-moz-keyframes text-hover {
	0% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
	50% {text-shadow: 0px 25px 15px rgba(0,0,0,0.2); transform: translatey(-20px);}
	100% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
}


@keyframes shake {
	0% { transform: translate(10px, 0) }
	10% { transform: translate(-10px, 0) }
	20% { transform: translate(8px, 0) }
	30% { transform: translate(-8px, 0) }
	40% { transform: translate(6px, 0) }
	50% { transform: translate(-6px, 0) }
	60% { transform: translate(4px, 0) }
	70% { transform: translate(-4px, 0) }
	80% { transform: translate(2px, 0) }
	90% { transform: translate(-2px, 0) }
	100% { transform: translate(0px, 0) }
  }