<nav>
    <a id="navlogo" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 700">
            <g id="L_thing" data-name="L thing">
              <polygon class="cls-1" points="0 0 0 100 600 100 600 700 700 700 700 100 700 0 0 0"/>
            </g>
            <polygon class="cls-1" points="215 425 39.09 650 0 700 0 150 430 150 390.91 200 275 348.26 159.09 200 39.09 200 215 425"/>
            <polygon class="cls-1" points="550 150 550 700 120 700 159.09 650 275 501.74 390.91 650 510.91 650 335 425 510.91 200 550 150"/>
          </svg>
          
        Xilog
    </a>
    <a id="donate" href="https://ko-fi.com/xilog">
        <i class="fas fa-hand-holding-usd fa-flip-horizontal"></i>
        <span class="text">Donate</span>
    </a>

    <div class="menu" style="display: none; color: white"><i class="fas fa-bars"></i></div>
</nav>