[data-aos="expandx"] {
    transform: scaleX(0);
    transition-property: transform;
}
[data-aos="expandx"].aos-animate {
    transform: scaleX(1);
}

[data-aos="expandy"] {
    transform: scaleY(0);
    transition-property: transform;
}
[data-aos="expandy"].aos-animate {
    transform: scaleY(1);
}

[data-aos="text-contract"] {
    letter-spacing: 0.5em;
    opacity: 0;
    transition-property: letter-spacing opacity;
}
[data-aos="text-contract"].aos-animate {
    letter-spacing: normal;
    opacity: 1;
}

[data-aos="skew-fadein"] {
    transform: matrix(1, 0.1, 0, 1, 0, 50);
    opacity: 0;
}
[data-aos="skew-fadein"].aos-animate {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}