<!--
    _     _   _   _    Xilog
    \ \  / / |_| | |   Alan D'souza
     \ \/ /   _  | |   _____     _____
      \  /   | | | |  / ___ \   / ___ \
      /  \   | | | | | /   \ | | |   | |
     / /\ \  | | | | | \___/ | | |___| |
    /_/  \_\ |_| |_|  \_____/   \____  |
                                 ____| |
                                |______/
    https://github.com/XilogOfficial/xilog
-->

<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body>
    <!-- Fake background element - lets me do effects otherwise not possible -->
    <div id="background" class="parallax"></div>

    {% include hero.html %}
    
    <div class="content"> 
        {{ content }}
    </div>

    {% include footer.html %}
    
    <!-- MODALS BELOW -->
    {% include easteregg.html %}

    <div class="modal" id="p-view"></div>
    
    <a href="#top"></a><div class="scrollup">
        <i class="fa fa-chevron-up" style="font-size: 2em; color: white"></i>
    </div></a>
    
    <div class="modal" id="loader-bg">
        <p3>Loader stuck? Disable jQuery blocking.</p3>
        <div id="loader-line">
            <svg version="1.1" viewBox="0 0 1920 1080" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="xilog">
                      <stop offset="0%" stop-color="#1ec1c7" />
                      <stop offset="100%" stop-color="#4e44b0" />
                    </linearGradient>
                </defs>
                <path d="M1920 850.14L1005.29 521l411.42 349.71-820.28-282.85 303.43 262.28-554.41-149.86 132.69 188.43-337.54-65.36 85.54 150.22L0 922.14" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="100"/>
            </svg>
        </div>
    </div>
    
    <div class="modal" id="menu-bg" style="display: none">
        <div id="menu">
            <a class="m-close"><i class="fas fa-times"></i> Close</a>
        </div>
    </div>

    <!-- if JS off -->
    <noscript>
        <div style="background-color: #fff; z-index: 9999999999999999999999999; position: absolute; left:0;top:0">
            <h1>
                You should probably enable JavaScript! My website relies on it.
            </h1>
        </div>

    </noscript>
</body>

</html>